.cover {
    .cover-img {
        display:block;
        height: 300px;
        margin: 40px auto;
        border: none;
        background: none;
        box-shadow:none;
    }
    .given {
        margin: 0;
    }
    .given-at{
        float:left;
        &:before { content: $location }
    }
    .given-on {
        float:right;
        &:before { content: $date }
    }
}
