@import "../../../reveal.js/css/theme/template/theme";

// fix for fontawesome to work in reveal.js.
// see css/theme/source/_fontawesome.scss for details
// Uncomment it if you plan to use fontawesome.
//@import "fontawesome";

// Uncomment the following if you plan to use runnable
// scripts.
//
// A runnable script is just a js code block with runnable class:
//
// ``` javascript
// <pre><code class="javascript runnable">// Type your code here</code></pre>
// ```
// @import "runnable";
@import "cover";

.reveal section {
    img {
        border: none;
    }

    .two-cols {
        & > *,
        & > .is-top{
            vertical-align: top;
            display: inline-block;
            width: 48%;
        }

        &.is-middle > * {
            vertical-align: middle;
        }

        &.is-bottom > * {
            vertical-align: bottom;
        }
    }

    .fragment.visible {
        &.current-visible,
        &.fade-out {
            display: none;
        }
        &.current-fragment {
            display: block;
            &.fade-out {
                display: none;
            }
        }
    }
    img.fragment.visible.current-fragment {
        display: inline-block;
    }
}
