@import "../../../reveal.js/css/theme/template/theme";

// fix for fontawesome to work in reveal.js.
// see css/theme/source/_fontawesome.scss for details
// Uncomment it if you plan to use fontawesome.
//@import "fontawesome";

// Uncomment the following if you plan to use runnable
// scripts.
//
// A runnable script is just a js code block with runnable class:
//
// ``` javascript
// <pre><code class="javascript runnable">// Type your code here</code></pre>
// ```
// @import "runnable";
@import "cover";

.reveal .slides>section.present,
.reveal .slides>section>section.present {

    &.hide-title {
        h1, h2 {display: none;}
    }

    &.no-title {
        height: 600px;
        h1, h2 {
            position: absolute;
            left: 0;
            right: 0;
        }
        h1 {
            top: 20px;
        }
        h2 {
            bottom: 20px;
        }
    }
    &.black {
        h1, h2 { color: #000; }
    }
    &.white {
        h1, h2 { color: #fff; }
    }
    &.grey {
        h1, h2 { color: #444; }
    }
    &.blue {
        h1, h2 { color: #2795b6; }
    }
}

.reveal section {
    img {
        border: none;
    }

    .two-cols, .three-cols {
        & > *,
        & > .is-top{
            vertical-align: top;
            display: inline-block;
        }

        &.is-middle > * {
            vertical-align: middle;
        }

        &.is-bottom > * {
            vertical-align: bottom;
        }
    }

    .two-cols > * {
        width: 48%;
    }
    .three-cols > * {
        width: 32%;
    }

    .fragment.visible.invisible-fragment {
        &.current-visible,
        &.fade-out {
            display: none;
        }
        &.current-fragment {
            display: block;
            &.fade-out {
                display: none;
            }
        }
    }
    img.fragment.visible.invisible-fragment.current-fragment {
        display: inline-block;
    }
}
